.content {
  border-collapse: collapse;
  margin: 25px 10px;
  font-size: 0.9em;
  width: 80%;
  height: 50px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
  padding-left: 5px;
}
.content thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}
.content th,
.content td {
  padding: 12px 15px;
}
.content tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content tbody tr .active {
  font-weight: bold;
  color: #009879;
}
tr:hover {
  background-color: #d0cdd8;
}
tr:nth-of-type(even) {
  background-color: #e4d6d6;
}
.expand {
  padding-left: 25px;
}
.content tbody tr:last-of-type {
  border-bottom: 0 px solid #d7e0de;
}
